<!DOCTYPE html>
<html>

<head>
	<title>Hoppity | 404</title>
	<%- include('../partial/includes.ejs') %>
	<script src="js/404.js"></script>
	<link rel="stylesheet" type="text/css" media="screen" href="css/404.css" />

</head>

<body>
	<%- include('../partial/navbar.ejs') %>

	<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>OOPS!</h1>
                <p>
                    It looks like you're a bit lost :(
                </p>
                <p>
                    How about we go back <a href="/home">home</a>?
                </p>
            </div>
        </div>
    </div>
   <footer class="footer mt-auto py-3">
      <div class="container text-center">
        <span class="text-muted" style="font-size: 12px">&copy; 2020 Petablox, University of Pennsylvania</span>
      </div>
    </footer>
    <br />

</body>
