<!DOCTYPE html>
<html>

<head>
	<title>Hoppity | People</title>
	<%- include('../partial/includes.ejs') %>
	<!--<script src="js/people.js"></script>-->
	<link rel="stylesheet" type="text/css" media="screen" href="css/people.css" />

</head>

<body>
	<%- include('../partial/navbar.ejs') %>

	<div class="flex-wrapper">
	<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>People</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <h3>Students</h3>
            </div>
	   <div class="col-lg-4">
                <h3>Researchers</h3>
            </div>
  	<div class="col-lg-4">
                <h3>Faculty</h3>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-4">
                <p>
                    <h4><a href="https://www.seas.upenn.edu/~edinella/" target="_blank">Elizabeth Dinella</a></h4>
                    <span class="people-inst">University of Pennsylvania</span>
                </p>
            </div>
	    <div class="col-lg-4">
                <p>
                    <h4><a href="https://hanjun-dai.github.io/" target="_blank">Hanjun Dai</a></h4>
                    <span class="people-inst">Google Brain</span>
                </p>
            </div>
		<div class="col-lg-4">
                <p>
                    <h4><a href="https://www.seas.upenn.edu/~mhnaik/" target="_blank">Mayur Naik</a></h4>
                    <span class="people-inst">University of Pennsylvania</span>
                </p>
            </div>
        </div>
	<div class="row">
            <div class="col-lg-4">
                <p>
                    <h4><a href="https://www.linkedin.com/in/liby99/" target="_blank">Ziyang Li</a></h4>
                    <span class="people-inst">University of Pennsylvania</span>
                </p>
            </div>
            <div class="col-lg-4">
                <p>
                    <h4><a href="https://usa.visa.com/about-visa/visa-research/ke-wang.html" target="_blank">Ke Wang</a></h4>
                    <span class="people-inst">Visa Research</span>
                </p>

            </div>
	<div class="col-lg-4">
                <p>
                    <h4><a href="https://www.cc.gatech.edu/~lsong/" target="_blank">Le Song</a></h4>
                    <span class="people-inst">Georgia Institute of Technology</span>
                </p>
            </div>
 	
        </div>
            
    </div>
    <br />
    <br />
    <br />
<footer class="footer mt-auto py-3">
      <div class="container text-center">
        <span class="text-muted" style="font-size: 12px">&copy; 2020 Petablox, University of Pennsylvania</span>
      </div>
    </footer>
    <br />
	</div>
</body>
