<!DOCTYPE html>
<html>

<head>
	<title>Hoppity | Publications</title>
	<%- include('../partial/includes.ejs') %>
	<!--<script src="js/publications.js"></script>-->
	<link rel="stylesheet" type="text/css" media="screen" href="css/includes.css" />

</head>

<body>
	<%- include('../partial/navbar.ejs') %>
	<div class="flex-wrapper">
	<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Publications</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>
                    <h3>Hoppity: Learning Graph Transformations to Detect and Fix Bugs in Programs</h3>
                    Elizabeth Dinella*, Hanjun Dai*, Ziyang Li, Mayur Naik, Le Song, Ke Wang (Spotlight Paper)<br>
                    <a href="https://iclr.cc/" target="_blank">ICLR 2020</a>
                    [
                        <a href="https://openreview.net/pdf?id=SJeqs6EFvB" target="_blank">Paper</a>
                    ]
		    [
                        <a href="https://iclr.cc/virtual_2020/poster_SJeqs6EFvB.html" target="_blank">Talk</a>
                    ]
		    [
                        <a href="https://github.com/AI-nstein/hoppity" target="_blank">Code</a>
                    ]
                </p>
            </div>
        </div>
    </div>
     <br />
     <br />
     <br />
     <br />
      <footer class="footer mt-auto py-3">
      <div class="container text-center">
        <span class="text-muted" style="font-size: 12px">&copy; 2020 Petablox, University of Pennsylvania</span>
      </div>
    </footer>
    <br />
	</div>
</body>
