<!DOCTYPE html>
<html>

<head>
	<title>Hoppity | Sponsors</title>
	<%- include('../partial/includes.ejs') %>
	<script src="js/sponsors.js"></script>
	<link rel="stylesheet" type="text/css" media="screen" href="css/sponsors.css" />

</head>

<body>
	<%- include('../partial/navbar.ejs') %>

	<div class="flex-wrapper">
	<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Sponsors</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                Hoppity is sponsored by the Air Force Research Laboratory (<a href="https://afresearchlab.com/" target="_blank">AFRL</a>),
                the Defense Advanced Research Projects Agency (<a href="https://www.darpa.mil/" target="_blank">DARPA</a>),
                the National Science Foundation (<a href="nsf.gov" target="_blank">NSF</a>)
                and <a href="facebook.com" target="_blank">Facebook</a>.
                The findings and views expressed in our work are our own and do not necessarily reflect those of our
                sponsors.
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <table>
                    <tr>
                        <td>
                            <img src="assets/images/afrl_logo.png" class="sponsor_img">
                        </td>
                        <td>
                            <img src="assets/images/darpa_logo.png" class="sponsor_img">
                        </td>
                        <td>
                            <img src="assets/images/nsf_logo.png" class="sponsor_img">
                        </td>
                        <td>
                            <img src="assets/images/fb_logo.png"  class="sponsor_img">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://afresearchlab.com/" target="_blank">www.afresearchlab.com</a>
                        </td>
                        <td>
                            <a href="https://www.darpa.mil/" target="_blank">www.darpa.mil</a>
                        </td>
                        <td>
                            <a href="https://nsf.gov" target="_blank">www.nsf.gov</a>
                        </td>
                        <td>
                            <a href="https://facebook.com" target="_blank">www.facebook.com</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
       <footer class="footer mt-auto py-3">
      <div class="container text-center">
        <span class="text-muted" style="font-size: 12px">&copy; 2020 Petablox, University of Pennsylvania</span>
      </div>
    </footer>
    
    <br />
	</div>
</body>
