* {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
}

footer {
  position: absolute;
  width: 100vw;
  bottom: 0;
}

.code-holder:first-of-type {
  margin-top: 28px;
}

.code-holder {
  margin-top: 20px;
}

.card-body {
  padding: 0 !important;
}

.CodeMirror {
  height: 150px !important;
}

.code-bug-mark {
  background-color: rgba(255, 30, 30, 0.2);
}

.CodeMirror-gutters {
  background-color: transparent !important;
}