* {
  /* font-family: 'Courier New', Courier, monospace; */
  font-size: 14px;
}

main {
  padding-top: 80px;
}

footer {
  width: 100vw;
}

.card-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  margin: 0 !important;
}

.card-title h5 {
  margin: 0;
}

.card-body {
  padding: 0 !important;
}

.code-holder {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.holder {
  padding: 15px;
}

.result {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.code {
  font-family: monospace;
}

.example-card {
  margin-top: 15px;
}

.run-button {
  transition: all 0.2s;
  text-align: center;
  color: rgb(27, 160, 0);
  line-height: 40px;
  cursor: pointer;
}

.run-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.run-button:active {
  background-color: rgba(0, 0, 0, 0.075);
}

.run-button.disabled {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.125);
}