body {
    font-family: Montserrat;
    /* font-size: large; */
    text-align: justify;
    text-justify: inter-word;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}
