.col-half-offset{
    margin-left:4.166666667%
}

.people-row div {
    text-align: center;
}

.people-name {
    font-weight: bolder;
}

.people-inst {
    font-size: small;
    font-weight: bolder;
}

table {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.people-img {
    width: 100px;
}