table {
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    width: 100%;
}

td {
    /* border:solid 2px black; */
    text-align: center;
}

.sponsor_img {
    height: 80px;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}
